html
	head
		link(rel='stylesheet', href='/css/index.css')
	body
		h1= brand
		script(src='lib/vue.min.js')
		script(src='lib/vue-resource.min.js')
		script(src='lib/socket.io.min.js')
		script(src='js/index.js')
